<%= form_for @idea ,html: { multipart: true } do |f| %>

    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :body %>
      <%= f.text_field :body %>
    </div>

    <div>
      <%= f.file_field :image %>
    </div>

    <%= f.submit %>



<% end %>