<h1>Ideas#show</h1>
<%  %>
<div>
  <h1>Title:<%= @idea.title %></h1>
  <h1>Body:<%= @idea.body %></h1>
  <h1>User:<%= @idea.user.first_name %></h1>
  <%= link_to "Edit",edit_idea_path(@idea) %>
  <%= link_to "Delete",idea_path(@idea),method: :delete,data: {confirm: "are you sure?"} %>


</div>
