<h1>Ideas#show</h1>

<div class="idea">
  <h1>Title:<%= @idea.title %></h1>
  <h1>Body:<%= @idea.body %></h1>
  <h1>User:<%= @idea.user.first_name %></h1>
  <%= link_to "Edit", edit_idea_path(@idea) %>
  <%= link_to "Delete", idea_path(@idea), method: :delete, data: {confirm: "are you sure?"} %>

</div>

<hr>

<div class="comments">
  <% @comments.each do |comment| %>
      <h2>Comments: <%= comment.body %></h2>
      <h2>Comments by: <%= comment.user.first_name %></h2>
      <% if can? :delete, comment %>
          <%= link_to "delete", comment_path(comment), method: :delete %>
      <% end %>
  <% end %>

</div>

<div class="comment-form">
  <%= render "comments/form" %>

</div>


